[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
python-dotenv = "*"
motor = "3.3.2"
pymongo = "4.6.1"
pydantic = "*"
moviepy = "*"
openai = "*"
python-jose = "*"
passlib = "*"
bcrypt = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
black = "*"
isort = "*"
flake8 = "*"
pycountry = "*"
requests = "*"
elevenlabs = "*"

[dev-packages]

[requires]
python_version = "3.12"
