[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==1.66.2"
python-dotenv = "==1.0.1"
elevenlabs = "==1.54.0"
requests = "==2.31.0"
moviepy = "==1.0.3"
pycountry = "==23.12.11"

[dev-packages]

[requires]
python_version = "3.12"
