[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
python-dotenv = "*"
motor = "*"
pymongo = "*"
pydantic = "*"
moviepy = "*"
openai = "*"
python-jose = "*"
passlib = "*"
bcrypt = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
black = "*"
isort = "*"
flake8 = "*"
pycountry = "*"
requests = "*"
elevenlabs = "*"
aiohttp = "*"
together = "*"
google-auth = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
